<mat-action-list>
  <div mat-subheader>Zaposleni</div>

  <ng-container *ngFor="let user of users; let i = index">
    <mat-list-item (click)="editUser(user.id)">
      <mat-icon matListItemIcon>person</mat-icon>
      <div matListItemTitle>{{ user.firstName }} {{ user.lastName }}</div>
      <div matListItemLine>{{ user.uuid }}</div>
    </mat-list-item>
    <mat-divider *ngIf="i != users.length - 1"></mat-divider>
  </ng-container>
</mat-action-list>

<button
  mat-fab
  color="primary"
  aria-label="Dodaj novog korisnika"
  routerLink="/features/users/new"
  class="add-btn-pos"
>
  <mat-icon>add</mat-icon>
</button>
