<div class="toolbar">
  <div class="action">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="title">
      <strong *ngIf="form.value.firstName"
        >{{ form.value.firstName }} {{ form.value.lastName }}</strong
      >
      <strong *ngIf="!this.form.value.firstName">Novi</strong>
      <small>Korisnik</small>
    </div>
  </div>

  <div class="options">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteUser()">Obrisi</button>
    </mat-menu>

    <button
      mat-raised-button
      [disabled]="form.invalid"
      color="primary"
      (click)="onSubmit()"
    >
      Sacuvaj
    </button>
  </div>
</div>

<form [formGroup]="form">
  <div class="form-row">
    <mat-form-field>
      <mat-label>{{ "Ime" }}</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "Prezime" }}</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field>
      <mat-label>{{ "JMB" }}</mat-label>
      <input matInput formControlName="uuid" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "Plata" }}</mat-label>
      <input matInput formControlName="amount" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "Datum rodjenja" }}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
